:root{
    --nmbr-hue-main: 160;

    --clr-accent-main-100: oklch(0.8 0.09 var(--nmbr-hue-main));
    --clr-accent-main-200: oklch(0.5 0.03 var(--nmbr-hue-main));

    --clr-white-100: oklch(0.97 0.022 var(--nmbr-hue-main));
    --clr-white-200: oklch(0.91 0.022 var(--nmbr-hue-main));
    --clr-white-300: oklch(0.85 0.022 var(--nmbr-hue-main));

    --clr-black-100: oklch(0.1 0.022 var(--nmbr-hue-main));
    --clr-black-200: oklch(0.2 0.022 var(--nmbr-hue-main));
    --clr-black-300: oklch(0.3 0.022 var(--nmbr-hue-main));

    --size-height-header: clamp(100px, 20vh, 150px);
    --size-height-footer: clamp(50px, 15vh, 100px);
    --size-height-page: calc(100vh - var(--size-height-header) - var(--size-height-footer));

    --size-image: 250px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--clr-white-100);
}